<template>
  <div>
    <!--<img src="../assets/loading.svg" alt="loading"/>-->
    <p v-if="authenticating">Processing Google Auth...</p>
    <p v-else-if="!authenticating && authenticated">Success</p>
    <p v-else>Data flow issue</p>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  import { ACT_END_LOGIN } from '@/store/modules/auth';

  export default {
    name: 'google-callback',
    mounted() {
      if (!this.authenticating) {
        return this.$router.replace('/');
      }
      this.finishLogin();
      return this.$router.replace('/');
    },
    methods: {
      ...mapActions({
        finishLogin: ACT_END_LOGIN,
      }),
    },
    computed: {
      ...mapGetters(['authenticating', 'authenticated']),
    },
  };
</script>
