<template>
  <div>
    Logged out
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  import { ACT_END_LOGOUT } from '@/store/modules/auth';

  export default {
    name: 'logout-cmp',
    methods: {
      ...mapActions({
        finishLogout: ACT_END_LOGOUT,
      }),
    },
    mounted() {
      if (!this.loggingOut) {
        return this.$router.replace('/');
      }
      this.finishLogout();
      return this.$router.replace('/');
    },
    computed: {
      ...mapGetters(['loggingOut', 'authenticated']),
    },
  };
</script>

<style lang="scss" scoped>

</style>
