<template>

  <div>
    <template v-if="loading">Loading...</template>
    <template v-else>
      <p>Query: {{ $route.query }}</p>    
      <p>Message: {{ msg }}</p>    
    </template>
  </div>
</template>

<script>
function asyncCall(timeout) {
  return new Promise((r) => {
    setTimeout(
      () =>
        r({
          msg: 'async data',
        }),
      timeout || 0,
    );
  });
}

export default {
  name: 'UserProfile',
  data() {
    return {
      msg: '',
      loading: false,
    };
  },
  methods: {
    setMsg(msg) {
      this.msg = msg;
    },
  },
  created() {
    this.loading = true;
    asyncCall(3e3).then((data) => {
      this.loading = false;
      this.setMsg(data.msg);
    });
  },
  // beforeRouteEnter: (to, from, next) => {
  //   asyncCall(3e3).then(data =>
  //     next(vm => {
  //       vm.setMsg(data.msg);
  //     })
  //   );
  // }
};
</script>

<style scoped>

</style>
