<template>
  <div>
    Main user container {{ userName }}: {{ user.badges }}
    <button @click="onClick">user name</button>
    <router-view/>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex';
import { SET_BADGES } from '@/store/user-mutations';
import { UPDATE_USER_NAME } from '@/store/user-actions';

export default {
  name: 'User',
  computed: {
    ...mapState({ user: 'user' }),
    ...mapGetters(['userName']),
  },
  methods: {
    ...mapMutations({
      register: SET_BADGES,
    }),
    ...mapActions({
      updateUsername: UPDATE_USER_NAME,
    }),
    onClick(event) {
      console.log('$event', event); // eslint-disable-line
      // this.updateUsername({ timeout: 1e3 });
      this.updateUsername();
    },
  },
  mounted() {
    // setTimeout(() => this.register({ count: 13 }), 1e3);
    // this.register(13);
  },
};
</script>

<style scoped>

</style>
