<template>
  <div class="right">
    <keep-alive>
      <button v-if="authenticated" class="btn default" @click="logout()">
        <font-awesome-icon :icon="signoutIcon"></font-awesome-icon>
        Logout
      </button>
      <button v-else="!authenticated" class="btn default" @click="login()">
        <font-awesome-icon :icon="googleIcon"></font-awesome-icon>
        Login
      </button>
    </keep-alive>
  </div>
</template>

<script>
  export default {
    name: 'auth-panel-cmp',
    props: [
      'googleIcon',
      'login',
      'logout',
      'signoutIcon',
      'authenticated',
    ],
  };
</script>

<style lang="scss" scoped>
  .right {
    float: right;
  }
</style>
