<template>
  <footer>
    <slot name="content"></slot>
  </footer>
</template>

<script>
  export default {
    name: 'footer-cmp',
  };
</script>

<style lang="scss" scoped>
  @import '../assets/variables.scss';

  footer {
    height: 3em;
    background-color: $clr-charcoal;
    display: flex;
    justify-content: space-between;
    .item {
      color: $clr-paper;
      font-weight: bold;
      margin: 0 .5em;
      line-height: 4em;
      font-size: 0.8em;
    }
  }
</style>
