<template>
  <header class="row">
    <div class="item">
      <slot name="left">Logo</slot>
    </div>
    <div class="item">
      <slot name="center">Center</slot>
    </div>
    <div class="item">
      <slot name="right">Right</slot>
    </div>
  </header>
</template>

<script>
  export default {
    name: 'header-cmp',
  };
</script>

<style scoped>
  header {
    background-color: #fff;
    padding: 0 0.5em;
    overflow: hidden;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .item {
    margin: 0 .5em;
    line-height: 3em;
    width: 30%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
  }
</style>
