<template>
  <div class="logo">
    <router-link :to="navigateTo"
                 class="router-link"
                 active-class="actived-route"
                 exact>
      <img :src="logoSrc" alt="dp original">
    </router-link>
  </div>
</template>

<script>
  export default {
    name: 'logo',
    props: ['logoSrc', 'navigateTo'],
  };
</script>

<style lang="scss" scoped>
  .logo {
    a {
      display: flex;
      align-items: center;
      img {
        width: 75px;
        height: 50px;
      }
    }
  }
</style>
