<template>
  <main id="content" class="main-content">
    <router-view></router-view>
  </main>
</template>

<script>
  export default {
    name: 'main-cmp',
  };
</script>

<style scoped>
  .main-content {
    flex: 1;
    padding: 1em 0.5em;
  }
</style>
