<template>
  <nav>
    <div class="links">
      <router-link to="/"
                   class="router-link"
                   active-class="actived-route"
                   exact>Main
      </router-link>
      <router-link to="/about"
                   class="router-link"
                   active-class="actived-route"
                   exact>About
      </router-link>
      <router-link to="/user/12/profile"
                   class="router-link"
                   active-class="actived-route"
                   exact>Profile
      </router-link>
    </div>
  </nav>
</template>

<script>
  export default {
    name: 'navbar',
  };
</script>

<style lang="scss" scoped>
  @import '../assets/variables.scss';

  .links {
    .router-link {
      color: $clr-orange;
      font-weight: bolder;
      margin-right: 1em;
      display: inline-block;
      &:last-of-type {
        margin-right: 0;
      }
      &.actived-route {
        color: $clr-paper;
        text-decoration: underline;
      }
    }
  }

</style>
