@import "./variables.scss";

html,
body {
  background-color: $clr-paper;
  color: $clr-charcoal;
  height: 100%;
}

@mixin hovered-button {
  background-color: $clr-charcoal;
  color: $clr-paper;
}

.btn {
  outline: none;
  border: none;
  padding: 0.5em 0.6em;
  border-radius: 1px;
  cursor: pointer;

  &:focus,
  &:active {
    outline: none;
  }

  &.default {
    background-color: $clr-paper;
  }

  &.default {
    &:hover {
      @include hovered-button;
    }
    &:active,
    &:focus {
      @include hovered-button;
      box-shadow: inset -1px -1px 7px $clr-paper;
    }
  }

}

