<template>
  <div id="app">
    <header-cmp>
      <div slot="left">
        <logo-cmp
          :logo-src="logoSrc"
          :navigate-to="logoNavigateTo"/>
      </div>
      <div slot="right">
        <auth-panel-cmp
          :login="login"
          :logout="logout"
          :authenticated="authenticated"
          :google-icon="googleIcon"
          :signout-icon="signOutIcon"/>
      </div>
    </header-cmp>
    <navbar class="app-navbar"></navbar>
    <main-cmp class="width-strict"></main-cmp>
    <footer-cmp>
      <p class="item" slot="content">Dmitry Potapenko &copy; {{ currentYear }}</p>
    </footer-cmp>
  </div>
</template>

<script>
  import { faGoogle } from '@fortawesome/fontawesome-free-brands';
  import { faSignOutAlt } from '@fortawesome/fontawesome-free-solid';
  import { mapActions, mapGetters } from 'vuex';
  import { ACT_START_LOGIN, ACT_START_LOGOUT } from '@/store/modules/auth';

  export default {
    name: 'app',
    data() {
      return {
        logoSrc: '/static/logo.svg',
        logoNavigateTo: '/',
        googleIcon: faGoogle,
        signOutIcon: faSignOutAlt,
      };
    },
    methods: {
      ...mapActions({
        login: ACT_START_LOGIN,
        logout: ACT_START_LOGOUT,
      }),
    },
    computed: {
      currentYear: () => new Date().getFullYear(),
      ...mapGetters(['authenticated']),
    },
  };
</script>

<style lang="scss" scoped>
  @import './assets/variables.scss';

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    min-height: 100%;
    height: auto;
    flex-direction: column;
    .width-strict {
      max-width: 1200px;
      margin: 0 auto;
    }
    .app-navbar {
      background-color: $clr-charcoal;
      min-height: 2em;
      line-height: 2em;
      padding: 0 0.5em;
    }
  }
</style>
